@import "../../../style/variables";

.containerHeart {
  color: $primary-color;
  width: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .heartText {
    padding-right: 0.5rem;
    cursor: pointer;
  }

  .heartIcon {
    cursor: pointer;
    transition: all 0.5s;
   
  }

  .likes {
    margin-left: 0.5rem;
    color: $primary-color;
  }
}
