@import "../../../style/variables";


.modal-commentUsers::-webkit-scrollbar {
  display: none;
}
  

  .modal-body {
    background-color: #10131e;
    .comment-modal {
      background-color: $background-fond;
      
      .containerInfoUser {
        .container-imageUser-comment {
          box-shadow: 0px 5px 10px 3px #0b12db;
          background-color: $background-fond;
          .image-modal-commentUser {
            width: 40px !important;
            height: 40px !important;
            background-size: cover;
            
          }
        }
      }
      .icon-modal {
        color: $primary-color;
        cursor: pointer;

        &:hover {
          color: #FF6465EB;
        }
      }
      
      .modal-footer-commentUser {
        background-color: $background-fond !important;
      }
    }
  }
  