.login{
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card{
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left{
      // flex:1;
      background: -moz-linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5))
       url("../assets/images/groupe.jpg") center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      gap: 30;
     

    }
  }
}