.modal {
  position: fixed;
  bottom: 5vh;
  right: 5%;
  width: 50vh;
  height: 15vh;
  border-radius: 10px;
  box-shadow: 6px 5px 8px 2px black;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(10, 10, 10);

  @media screen and (max-width: 820px) {
    bottom: 15vh;
    width: 90vw;
  }
}

.modal-content-succes {
  background-color: rgb(39, 214, 39);
  width: 100%;
  text-align: center;

  h3 {
    color: #fff;
    font-size: 2rem;
  }
}

.message {
  padding: 10px;
  font-size: 1.5rem;
  color: #fff;
}

.footer {
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
  margin-bottom: 10px;

  .footer-button {
    background-color: #c70101;
    color: #fff;
    text-align: center;
    padding: 2px 6px;
    font-size: 1.5rem;

    &:hover {
      background-color: green;
    }
  }
}
