@import "color";

.button {
  background-color: $primary-color;
  color: $white-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;

  &:hover {
    background-color: $primary-color-hover;
  }
}
