.comments {
  margin: 20px;
  .write {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0px;
    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
      border-radius: 50%;
    }

    input {
      flex: 5;
      height: 20px;
      padding: 10px;
      font-size: 8px;
      background-color: transparent;
      border: 1px solid;
      border-radius: 10px;
    }

    button {
      border: none;
      font-size: 10px;
      background-color: #5271ff;
      border-radius: 3px;
      color: white;
      cursor: pointer;
    }
  }

  .comment {
    display: flex;
    flex-direction: column;

    .infoComment {
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      span {
        font-weight: 500;
      }
    }
    .desc {
      display: flex;
      margin: 10px 0px 30px;

      p {
        color: rgb(95, 95, 95);
        width: 80%;
      }
      .date {
        font-size: 8px;
        align-self: center;
        margin-left: 30px;
      }
    }
  }
}
