$background-fond: #10131e;
$primary-color: #2aa6ff;
$secondary-color: #FF6465EB;
$border-color: #b9adad;
$icon-color: #3d4a5e;

// message
$title-message: #269b74;

// icon
$success-color: #05521f;
$warning-color: #f0ad4e;
$error-color: #d9534f;