@import "../../../style/variables";
.card {
  width: 50%;
  height: 200px;
  background-color: $background-fond;
}
.card-image{
 width: 100%;
}

.card-body-post {
  background-color: $background-fond !important;
  color: $primary-color !important;

  .button{
    
  &:hover {
    color: $secondary-color !important;
  }
  }
}
  .card-title-post {
    color: $title-message !important;
  }
.form-control {
  background-color: $background-fond !important;
  color: $primary-color !important;
  border: 1px solid $border-color !important;
  &::placeholder {
    color: $primary-color !important;
  }
}
