.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .imageContainer {
    width: 40rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    border: 1px solid #594848;
    margin-top: 5rem;

    .image {
      width: 40rem;
      height: 30rem;
      margin-bottom: 5px;
      object-fit: cover;
    }
    .buttonContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-top: 1rem;
      .switchButton {
        background-color: transparent;
        color: #2aa6ff;
        border: 1px solid #594848;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 10rem;
        &:hover {
          background-color: #2aa6ff;
          color: #430f2f;
        }
      }
      .switchText {
        color: #b9adad;
        margin-left: 2rem;
      }
    }
  }

  .containerCard {
    width: 40rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #594848;
    margin-top: 5rem;
  }
    .title {
      color: #2aa6ff;
      text-align: center;
    }
    .containerContact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 3px solid #594848;
      // margin-top: 1rem;
      width: 100%;

      .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 20rem;
        margin-left: 4rem;

        .input {
          width: 60%;
          background-color: transparent;
          outline: none;
          border-radius: 0.5rem;
          border: 1px solid #594848;
          padding: 0.5rem;
          margin: 0.5rem;

          &::placeholder {
            color: #594848;
          }
          color: #b9adad;
        }
        .button {
          background-color: transparent;
          color: #2aa6ff;
          border: 1px solid #594848;
          border-radius: 0.5rem;
          padding: 0.5rem;
          margin: 0.5rem;
          width: 10rem;
          margin-left: 20rem;
          &:hover {
            background-color: #594848;
            color: #430f2f;
          }
        }
      }
    }
 
  
  }

