.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(15, 9, 48);
  padding-top: 15px;
  border-bottom: 1px solid bisque;
  position: fixed;

  .left {
    margin-left: 10px;
    display: flex;

    :link {
      text-decoration: none;
    }
    span {
      font-weight: bold;
      color: rgb(168, 56, 196);
    }
    .iconLeft {
      color: bisque;
      padding-left: 20px;

      &:hover {
        color: rgb(168, 56, 196);
      }
    }
    .iconLeftGlass {
      color: bisque;
      margin-left: 8rem;
    }

    input {
      width: 200px;
      height: 20px;
      margin-left: 5px;
      font-size: 1rem;
      border: solid 1px;
      border-radius: 5px;
      background-color: transparent;
      color: bisque;
    }
  }
}
.right {
  margin-right: 10px;

  .iconRight {
    color: bisque;
    padding-left: 20px;

    &:hover {
      color: rgb(168, 56, 196);
    }
  }

  .iconRightUser {
    height: 16px;
    padding-left: 30px;
    color: rgb(168, 56, 196);
    text-decoration: none;
  }
  span {
    padding-left: 2px;
    color: rgb(168, 56, 196);
  }
}

// }
