@import "../../style/variables.scss";

.navbar {
  // width: 100%;
  height: 8rem;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #594848;
  top: 0;
  color: $primary-color;
  z-index: 3000;
  position: sticky;
  background-color: $background-fond;

  .container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10rem;
    // margin-right: 5rem;
    color: #10131e;

    .familyContainer {
      width: 30rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .familyName {
        color: #fff;
        font-size: 4rem;
        background: linear-gradient(
          to right,
          rgb(10, 54, 248),
          rgb(9, 234, 174)
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin: 0;
        text-align: center;
      }
    }

    .rightContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 45rem;
      margin-left: 5rem;
    }

    .searchContainer {
      display: flex;
      align-items: center;
      border: 1px solid #594848;
      border-radius: 15px;
      margin: 1rem;
      padding: 0.5rem;

      .searchIcon {
        font-size: 1.5rem;
        padding-left: 0.5rem;
      }

      .searchInput {
        width: 20rem;
        margin-left: 1rem;
        background-color: transparent;
        border: none;
        outline: none;
        color: #2aa6ff;

        &::placeholder {
          color: #2aa6ff;
        }
      }
    }
    .connectContainer {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 4rem;

      .iconContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .icon {
          color: #2aa6ff;
          font-size: 2rem;
          margin-left: 3rem;
          cursor: pointer;
          &:hover {
            color: $secondary-color;
          }
        }
      }
      .imgUser {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
        margin-left: 10rem;
        object-fit: cover;
      }
    }
  }
}
