.navbar{
  display: flex;
  // align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 1px solid bisque;

  .left{
    margin-left:10px;
    display: flex;
   :link{
    text-decoration: none;
  }
  span{
    font-weight: bold;
    color: rgb(168, 56, 196);
  }
  .iconLeft{
    color: bisque;
    padding-left: 20px;

    &:hover{
      color:rgb(168, 56, 196)
    }
  }
    
      
      input{
        width: 200px;
        height: 10px;
        margin-left: 5px;
        font-size: 1rem;
        border: solid 1px ;
        background-color: transparent;
        color:bisque

      }
    }
  }
  .right{
   display: flex;
   margin-right: 10px;

   .iconRight{
    color: bisque;
    padding-left: 20px;

    &:hover{
      color: rgb(168, 56, 196);
    }
   }
  

    .user{
      color: bisque;
      padding-left: 20px;
      .iconRightUser{
        height: 1rem;
        color: rgb(168, 56, 196);
        text-decoration: none;
      }
      span{
        padding-left: 5px;
        color: rgb(168, 56, 196);
      }
    }
  }
// }

