@import "../../style/variables";

.home{
  display: flex;
  align-items: center;
  height: 100vh;

  .posts{
    flex:6;
    overflow-y: scroll;
  }
  .title{
    font-size: 2rem;
    font-weight: 500;
    color: $primary-color;
    margin: 2rem;
  }
  .carousel{
    width: 50vw;
  }
  .userList{
    flex: 1;
    width: 20vw;
    height: 100vh;
    overflow-y: scroll;
  }
}