.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ecf0f1;
  color: #34495e;

  .title {
    font-size: 2em;
    margin-bottom: 20px;

  }
}