@import "../../../style/variables";

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .card {
    width: 40rem;
    height: 20rem;
    padding: 4rem 1rem 0rem 1rem;
    border-radius: 10px;
    border: 1px solid $border-color;
    transition: all 0.5s;

  }
}

.animateOut {
  animation: rotateOut 1s forwards;
}

@keyframes rotateOut {
  from {
    transform: rotateY(0deg);
    opacity: 1;
    trasition: all 0.5s;

  }
  to {
    transform: rotateY(180deg);
    opacity: 0;
    trasition: all 0.5s;
  }
}
