@import "../../../style/variables";

.modal_toast {
  border: 5px solid $border-color;
  width: 20rem;
  height: 5rem;
  border-radius: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: $background-fond;
  z-index: 1000;

  .btn_close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    background-color: transparent;
    color: $primary-color;
  }
  .message {
    font-size: 12px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  .progress_bar {
    width: 100%;

    .progress {
      width: 100%;
      height: 5px;
      background-color: $primary-color;

      @keyframes progress {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
        
      }
    }
  }
}
