@import "../../../style/variables";

.notificationCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: transparent; 
    border: 1px solid $border-color;
    color: $primary-color;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    
    .notificationTitle {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    
    .notificationDescription {
      font-size: 0.8em;
      margin-bottom: 10px;
    }
    
    .notificationDate {
      font-size: 0.8em;
      color: $border-color;
    }

    .buttonContainer{
      display: flex;
      justify-content: flex-end;
      width: 100%;
    

    .buttonDelete{
      background-color: transparent;
      border: none;
      color: $border-color;
      margin-left: 10px;
      cursor: pointer;
      transition: color 0.3s ease;
      
      &:hover {
        color: $primary-color;
      } 
    }
  }
}
