@import "../../../style/variables";

.containerList {
  width: 100%;
  height: 100%;
  margin-top: 3rem;

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    .button {
      background-color: transparent;
      outline: none;
      border-radius: 5px;
      color: $primary-color;
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      border: 1px solid $border-color;
      &:hover {
        background-color: $primary-color;
        color: $background-fond;
        border: 1px solid $primary-color;

      }
    }
  }
}


.animateOut {
  animation: rotateOut 1s forwards;
}

@keyframes rotateOut {
  from {
    transform: rotateY(0deg);
    opacity: 1;
    trasition: all 0.5s;
  }
  to {
    transform: rotateY(180deg);
    opacity: 0;
    trasition: all 0.5s;
  }
}
