@import "../../../style/functions";
@import "../../../style/variables";

.containerDesktop {
  max-width: auto;
  display: flex !important;
  align-items: center !important;
  justify-content: center ;
  flex-direction: row;
  
  .imageContainer {
  max-width: 100% ;
    height: 35rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    border: 1px solid #594848;
    margin-top: 5rem;
    box-shadow: 2px 4px 8px 4px #2aa6ff, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius:  1rem 0 0 1rem;
    
    .image {
    max-width: 100%; 
      height: 30rem;
      margin-bottom: 5px;
      border-radius: 0.5rem;
      object-fit: cover;
    }
    .buttonContainer {
    max-width: auto !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-top: 1rem;
      .switchButton {
        background-color: transparent;
        color: $primary-color;
        border: 1px solid #594848;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 10rem;
        &:hover {
          background-color: $primary-color;
          color: #430f2f;
        }
      }
      .switchText {
        color: #b9adad;
        margin-left: 2rem;
      }
    }
  }
  
  .containerCard {
    position: relative;
   max-width:100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #594848;
    margin-top: 5rem;
    box-shadow: 2px 4px 8px 4px #2aa6ff, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;

  }
  .title {
    color: $primary-color;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
  .containerContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

      .form-control {
        width: 100%;
        height: 2rem;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        outline: none;
        border-radius: 0.5rem;
        border: 1px solid #594848;
        padding: 0.5rem;
        margin: 0.5rem;

        &::placeholder {
          color: border-color;
        }
        color: #b9adad;
      }
      .checkboxAdminContainer{
        position:absolute;
        bottom: 2rem;
        left: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        input[type="checkbox"] {
          display: none;
          & + label::before {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border: 1px solid $border-color;
            border-radius: 0.2rem;
            margin-right: 0.5rem;
            cursor: pointer;
            vertical-align: middle;
            background-color: transparent;
            transition: all 0.5s;
            position:relative;
          }
          &:checked + label::before {
            background-color: transparent;
          }
           &:checked + label::after {
            content: "";
            width: 0.3rem;
            height: 0.6rem;
            border: solid $primary-color;
            border-width: 0 2px 2px 0;
            cursor: pointer;
            transition: all 0.5s;
            transform: rotate(45deg);
            position:absolute;
            top: 0.5rem;
            left: 1.8rem;
           } 
        }
        label{
          color: #b9adad;
        }
      }
      .button {
        background-color: transparent;
        color: #2aa6ff;
        border: 1px solid #594848;
        border-radius: 0.5rem;
        padding:1rem;
        margin: 0.5rem;
        margin-left: 10rem;
        width: 5rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: #594848;
          color: #2aa6ff;
        }
      }
    }


.toastSuccess {
  background-color: #2aa6ff
  }
}

@media screen and (max-width: 768px) {
  .containerDesktop {
    max-width: 50%;
  }
  
}