@import "../../../style/variables";

.containerReadStatus{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;

}

.iconStatusSent{
  color: $border-color;
}

.iconStatusInProgress{
  color: $secondary-color;
}
.iconStatusDelivered{
  color: $border-color;
}

.iconStatusRead{
  color: $primary-color;
}