@import "../../style/variables";
@import "../../style/functions";

.toast {
  position: fixed;
  top: 10rem;
  right: 10rem;
  min-width: 200px;
  max-width: 300px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: $background-fond;

  &.show {
    opacity: 1;
  }

  &.success {
    color: getColor("success");
  }

  &.error {
    color: getColor("error");
  }

  .toastIcon {
    font-size: 24px;
    margin-right: 10px;
  }

  .toastMessage {
    font-size: 18px;
    flex-grow: 1;
  }

  .closeButton {
    cursor: pointer;
  }

  .progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #ccc;
    width: 100%;
    animation: progress 5s linear;

    &.successBar {
      background-color: getColor("success");
      box-shadow: 5px 5px 10px green;
    }

    &.errorBar {
      background-color: getColor("error");
      box-shadow: 5px 5px 10px red;

    }
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
